<app-header title="Buscar Asientos" isBackBtn="true" iconMain="arrow-back-outline" ruta="/main"></app-header>

<ion-content>
  <form [formGroup]="form" class="auth-form">
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-select
          aria-label="Destino"
          placeholder="Selecciona el destino"
          [formControl]="form.controls.destino"
        >
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value="Concepcion Centro">Concepcion Centro</ion-select-option>
          <ion-select-option value="San pedro de la paz">San pedro de la paz</ion-select-option>
          <ion-select-option value="Hualpen">Hualpen</ion-select-option>
          <ion-select-option value="Talcahuano">Talcahuano</ion-select-option>
          <ion-select-option value="Penco">Penco</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

  <div *ngIf="viajes">
    <h1></h1>
    <div *ngFor="let i of viajes">
      <p>Viajes encontrados</p>
      <div *ngIf="i.destino == this.form.value['destino'] || this.form.value['destino'] == '' ">
        <ion-item (click)="solAsiento(i.uid)">
          <ion-thumbnail slot="start">
            <ion-icon name="people-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>
            <p>Patente: {{i.patente}}</p>
            <p>Destino: {{i.destino}}</p>
            <p>Hora Salida: {{i.hora}}</p>
            <p>Monto: ${{i.montoAsiento}}</p>
            <p>Asientos disponibles: {{i.asientos}}</p>
            <p>Fecha: {{i.fecha}}</p>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>

</ion-content>




