<app-header title="Viajes Realizados" isBackBtn="true" iconMain="arrow-back-outline" ruta="/main"></app-header>

<ion-content>

  <div *ngIf="viajes">
    <h1>Mis viajes</h1>
    <div *ngFor="let i of viajes">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-icon name="people-outline"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <h2 *ngIf="i.conductor == user.email"> Conductor </h2>
          <p>Patente: {{i.patente}}</p>
          <p>Destino: {{i.destino}}</p>
          <p>Hora Salida: {{i.hora}}</p>
          <p>Monto: ${{i.montoAsiento}}</p>
          <p>Asientos ocupados: {{i.asientos}}</p>
          <p>Ganancia: ${{+i.asientos*+i.montoAsiento}}</p>
          <p>Fecha: {{i.fecha}}</p>
        </ion-label>
      </ion-item>
    </div>
  </div>


</ion-content>
