ion-img {
    margin: 15vw 10vw;
}

#container, #btn1{
    text-align: center;
}

h1{
    float: none;

    margin-left: auto;

    margin-right: auto;
}

ion-button {
    float: none;

    margin-left: auto;

    margin-right: auto;
}