<app-header title="Paso 1 - Elegir auto" isBackBtn="true" iconMain="arrow-back-outline" ruta="/main"></app-header>

<ion-content>

  <ion-list >
    <ion-list-header>Autos</ion-list-header>
    <ion-item routerLink="/main/publicar-disp/ajustar-viaje">
      <ion-thumbnail slot="start">
        <ion-icon style="width: 100%; height: 100%" name="car-outline"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h3>Auto 1</h3>
        <p>Tipo: Citycar</p>
        <p>Modelo: Toyota</p>
        <p>Color: Blanco</p>
        <p>Patente: XX-XX-XX</p>
        <p>Asientos maximos: 4</p>
      </ion-label>
    </ion-item>
    
  </ion-list>


</ion-content>